body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 100px;
}

.sidebar {
  position: absolute;
  background: #333645;
  color: #FFFFFF;
  font-size: 32px;
  width: 80px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  padding-top: 20px;
}

.sidebar .glyphicon {
  padding-top: 20px;
}
