body {
  padding-left: 68px;
  -webkit-user-select: none;
}

.content {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
}

#spec-progress {
  position: fixed;
  top: 0px;
  left: 66px;
  right: -3px;
  -webkit-app-region: drag;
}

.sidebar {
  -webkit-app-region: drag;
  position: fixed;
  background: #333645;
  color: #FFFFFF;
  font-size: 32px;
  width: 68px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  padding-top: 20px;
}

.sidebar .glyphicon {
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .glyphicon-active {
  color: rgba(255, 255, 255, 1);
}

#console-content {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-family: "Andale Mono", monospace;
  color: #000000;
  -webkit-user-select: text;
}

